/* App.css */

.page {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  font-family: inherit;
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}